.beige-background {
    background: beige;
}
.italic {
    font-style: italic;
}
.color-red {
    color: red;
}
.color-blue {
    color: blue;
}
.font-22 {
    font-size: 22px;
}
.bold {
    font-weight: bold;
}
